@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
html {
  font-family: "Poppins", sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8DBBFF;
}

main {
    margin-top: 60px;
}

h1 {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

nav {
    background-color: white;
}

.destinataire {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.copie {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.object {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.message {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.import {
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

label {
    width: 376px;
    text-decoration: underline;
    margin-top: 5px;
}

input {
    padding: 10px 0px 10px 0;
    width: 376px;

}

textarea {
    padding: 0px 0px 50px 0px;

}

#message {
    width: 383px;
}

#file {
    width: 376px;
}

#text {
    width: 381px;
}

#destinataire {
    width: 372px;
}
/* Effet bouton */

button{
    background:blue;
    color:#fff;
    border:none;
    position:relative;
    height:45px;
    font-size:1em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    border-radius: 10px;

  }
  button:hover{
    background:#fff;
    color:blue;
  }
  button:before,
  button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: blue;
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,
  button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  /* Fin effet bouton */

  div.send {
    position: absolute;
    width: 100vw;
    bottom: 10vh;
    display: flex; 
    justify-content: center;

  }

  input[type=email]:valid {
    background-color: rgb(222, 255, 222);
  } 

  input[type=email]:invalid {
    background-color: rgb(255, 218, 218);
  }

  @media screen and (min-width: 900px) {

    .destinataire, .copie, .object, .import {
        align-items: start;
        margin-left: 10%;
    }

    .message {
        position: absolute;
        top: 155px;
        right: 10%;
    }

    textarea {
        padding: 0px 0px 320px 0px;
    }

    main {
        margin-top: 120px;
    }


  }
